*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    font-family: 'Indie Flower', cursive;
    font-size:17px;
    color:white;
    line-height:1.6;
}

#showcase{
    background-image:url('../images/pexels-photo-249203.jpeg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

#showcase h1{
    font-size:60px;
    line-height:1.2;
}

#showcase p{
    font-size:30px;
}

#showcase .button{
    font-size:25px;
    font-weight: bold;
    text-decoration:none;
    color:white;
    border:white 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
}

#showcase .button:hover{
    background:#ba3c0f;
    color:#fff;
}


